@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para los enlaces dentro del contenido del editor */
.editor-class a {
  color: #3b82f6; /* Un color azul est치ndar, ajusta si quieres */
  text-decoration: underline; /* Subraya el texto del enlace */
  cursor: pointer; /* Cambia el cursor a una mano */
}

/* Opcional: Un estilo al pasar el rat칩n */
.editor-class a:hover {
  color: #1d4ed8; /* Un azul m치s oscuro al pasar el rat칩n */
}

.description-content a {
  /* Estilo principal del enlace */
  color: blue !important; /* Fuerza el color azul */
  text-decoration: underline !important; /* Fuerza el subrayado */
}

.description-content a:hover {
  /* Estilo al pasar el mouse */
  color: darkblue !important;
}
